body {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  color: #1c1c1c;
  font-size: 1.2em;
  margin: 2em; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#stats {
  padding: 2em 0em 5em; }
  #stats table {
    font-family: mono;
    font-size: 0.7em;
    width: 50%; }

.actstatus {
  font-size: 0.7em;
  margin-bottom: 4em; }
  .actstatus table {
    border-spacing: 0px;
    width: 100%; }
    .actstatus table td.zipselect {
      padding-bottom: 1em; }
    .actstatus table td:last-child {
      text-align: right; }

.codeheader {
  font-size: 0.7em; }
  .codeheader .jumptop {
    float: right; }

pre > code {
  display: block;
  background: #1c1c1c;
  color: #dadada;
  padding: 1em;
  overflow-x: auto;
  border-radius: 4px; }

pre > code > span.comment {
  color: #727272; }

pre > code > span.comment > span.var, p > code {
  color: #906624;
  font-weight: bold; }

p {
  text-align: justify; }

.boldtitle {
  font-weight: bold;
  padding: 0 7px; }

.sspan {
  padding: 0 7px; }

.codespan {
  font-family: mono;
  width: 6em;
  display: inline-block; }

.autoselect {
  width: calc(100% - 10px);
  background: #fff;
  border: 1px solid #1c1c1c;
  margin: 0px 0;
  border-radius: 2px;
  line-height: 17px;
  padding: 2px 5px; }

.double-val-label {
  display: inline-block;
  font-family: 'Dejavu Sans','Arial'; }

.double-val-label > span {
  background-color: #656565;
  color: #ffffff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1;
  padding: 0.3em 0.6em; }

.double-val-label > span:nth-child(2).inactive {
  background-color: #dddddd;
  color: #1c1c1c; }

.double-val-label > span {
  border-radius: 0.25em; }

.double-val-label > span.running {
  background-color: #337ab7; }

.double-val-label > span.accept {
  background-color: #5cb85c; }

.double-val-label > span.accept.inactive {
  background-color: #6f976f; }

.double-val-label > span.queue {
  background-color: #5bc0de; }

.double-val-label > span.blocked {
  background-color: #f0ad4e; }

.double-val-label > span.reject {
  background-color: #d9534f; }

.double-val-label > span.timeout {
  background-color: #d9534f; }

#coverage {
  width: 100%;
  padding-bottom: 5em;
  font-size: 0.7em; }
  #coverage ul.contract_coverage {
    padding-left: 0px;
    list-style: none;
    padding: 0; }
    #coverage ul.contract_coverage li {
      padding: 0.5em 0;
      margin: 4px 0; }
      #coverage ul.contract_coverage li .name {
        font-weight: bold; }
      #coverage ul.contract_coverage li .progress {
        float: right;
        margin-right: 0.5em; }
  #coverage table.abi {
    width: 100%;
    border-collapse: collapse;
    margin: 0.5em 0px;
    border-radius: 4px;
    overflow: hidden; }
    #coverage table.abi tr:not(:last-child) {
      border-bottom: 1px solid #e6e6e6; }
    #coverage table.abi tr.outstanding {
      background: #FFEFEF; }
    #coverage table.abi td.status {
      text-align: center;
      width: 1.2em; }
      #coverage table.abi td.status.empty {
        color: #e6e6e6; }
      #coverage table.abi td.status.accept {
        font-weight: bold;
        color: #5cb85c; }
      #coverage table.abi td.status.reject {
        font-weight: bold;
        color: #d9534f; }
      #coverage table.abi td.status.timeout {
        font-weight: bold;
        color: #dddddd; }
      #coverage table.abi td.status.running {
        font-weight: bold;
        color: #337ab7; }
    #coverage table.abi td.sig {
      width: 70%;
      padding: 2px 2.5em; }

/*# sourceMappingURL=report.css.map */