body {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  color: #1c1c1c;
  font-size: 1.2em;
  margin: 2em;
}

h1, h2, h3, h4 {
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#stats {
  padding: 2em 0em 5em;
  table {
    font-family: mono;
    font-size: 0.7em;
    width: 50%;
  }
}

.actstatus {
  font-size: 0.7em;
  margin-bottom: 4em;
  table {
    border-spacing: 0px;
    width: 100%;
    td.zipselect {
      padding-bottom: 1em;
    }
    td {
      // border: 1px solid;
      &:last-child {
        text-align: right;
      }
    }
  }
}

pre > code {
  display: block;
  background: #1c1c1c;
  color: #dadada;
  padding: 1em;
  overflow-x: auto;
  border-radius: 4px;
}

pre > code > span.comment {
  color: #727272;
}

pre > code > span.comment > span.var, p > code {
  color: #906624;
  font-weight: bold;
}

p {
  text-align: justify;
}

.boldtitle {
  font-weight: bold;
  padding: 0 7px;
}
.sspan {
  padding: 0 7px;
}

.autoselect {
  width: calc(100% - 10px);
  background: #fff;
  border: 1px solid #1c1c1c;
  margin: 0px 0;
  border-radius: 2px;
  line-height: 17px;
  padding: 2px 5px;
}


.double-val-label {
  display: inline-block;
  font-family: 'Dejavu Sans','Arial';
}
.double-val-label > span {
  background-color: #656565;
  color: #ffffff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1;
  padding: 0.3em 0.6em;
}
.double-val-label {
  > span:nth-child(2).inactive {
    background-color: #dddddd;
    color: #1c1c1c;
  }
}
.double-val-label > span {
  border-radius: 0.25em;
}
.double-val-label > span.running {
  background-color: #337ab7;
}
.double-val-label > span.accept {
  background-color: #5cb85c;
}
.double-val-label > span.accept.inactive {
  background-color: #6f976f;
}
.double-val-label > span.queue {
  background-color: #5bc0de;
}
.double-val-label > span.blocked {
  background-color: #f0ad4e;
}
.double-val-label > span.reject {
  background-color: #d9534f;
}



#coverage {
  width: 50%;
  padding-bottom: 5em;
  font-size: 0.7em;
  ul.contract_coverage {
    padding-left: 0px;
    list-style: none;
    padding: 0;
    li {
      padding: 0.5em 0;
      margin: 4px 0;
      .name {
        font-weight: bold;
      }
      .progress {
        float: right;
        margin-right: 1px;
      }
    }
  }

  table.abi {
    width: 100%;
    border-collapse: collapse;
    margin: 0.5em 0px;
    td.status {
      text-align: right;
    }
    td.sig {
      width: 70%;
    }
  }
}
